*, :root {
    font-family: "Inria Sans", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body {
    
    font-family: 'Inria Sans', sans-serif;

    width: 100%;
    height: 100%;
    background-color: #68AA51;

}
header{
    
    display: flex;
    font-size: 22.0rem;
    background-color: #BBBB;
    display: flex;
    align-items: center;

    width: 100%;
    height: 100px;

    justify-content: space-between;
    border-bottom: 2px solid black;


    
}
header #logo{
    margin: 210px 0 0 70px;
}
header img{
    
    height: 330px;
    margin: 75px 0 0 75px;
}


nav ul{
    font-family: 'Inria Sans', sans-serif;
    display: flex;
    flex-direction: row;
    gap: 85px;
    margin-right: 85px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: beige;
    text-shadow: 5px 5px 5px rgba(8,8,8,10);
    
}
sidebar{
    margin-top: 2rem;
    margin-left: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16rem;
}
sidebar h1{
    font-size: 5rem;
    margin-left: 3rem;
}
sidebar h2{
    font-size: 4rem;
    margin-right: 2rem;
}

.login{
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center; 
}
.user-image {
    width: 60px; /* Ou o tamanho que você preferir */
    height: 60px; /* Igual à largura para manter o aspecto de círculo */
    border-radius: 50%; /* Isso cria o efeito de círculo */
    margin-left: 15px; /* Espaço entre o texto e a imagem */
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 732px;
    background-color: rgb(255, 255, 255);
    margin: 5rem 5rem 0 5rem;
    border-radius: 3rem 3rem 0 0;
    padding-top: 5rem;
    margin: 4rem 18rem 0 18rem;
}
.todo{
    display: flex;
    flex-direction: row;
    gap: 28rem;
}
div .prim , .seg , .descri{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
div .prim h2 , .seg h2 , .descri h2{
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    
    
}
div .prim p, .seg p , .descri p{
    font-size:4rem ;
    
    
}


